<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468507118279-o5vpotmmb222a9q8iqlfrkphk27fb0md.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468507118279-o5vpotmmb222a9q8iqlfrkphk27fb0md</string>
	<key>API_KEY</key>
	<string>AIzaSyAC9DUM9lOCt7qfWBAR90ImgUX8OptPt94</string>
	<key>GCM_SENDER_ID</key>
	<string>468507118279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dsa.eetac.upc.edu.iSocial</string>
	<key>PROJECT_ID</key>
	<string>isocial-3abfa</string>
	<key>STORAGE_BUCKET</key>
	<string>isocial-3abfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468507118279:ios:e589e3aadd5ea798</string>
	<key>DATABASE_URL</key>
	<string>https://isocial-3abfa.firebaseio.com</string>
</dict>
</plist>